.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #65a0d7;
  padding: 12px 20px;
}

.logo {
  color: white;
  margin: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-btn {
  color: rgb(239, 27, 27);
  text-decoration: none;
  margin-left: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.nav-btn:hover {
  color: rgb(23, 56, 155);
  text-decoration: underline;
}